<div class="container p-1">
  <div class="is-justify-content-center is-flex">
    <div class="image is-128x128">
      <img class="is-rounded" src="./assets/images/profile_img.jpg" />
    </div>
  </div>
  <mat-list>
    <div mat-subheader>Phones</div>
    <mat-list-item>
      <mat-icon mat-list-icon>phone_enabled</mat-icon>
      <div mat-line>Main</div>
      <div mat-line>(+66)882397505</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Socials</div>
    <mat-list-item>
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>Linkedin</div>
      <div mat-line>
        <a href="https://www.linkedin.com/in/ankworld/">Ankworld</a>
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>Facebook</div>
      <div mat-line>
        <a href="https://www.facebook.com/anukul.thienkasemsuk/">Anukul Thienkasemsuk</a>
      </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>Mastodon</div>
      <div mat-line>
        <a href="https://mastodon.in.th/web/accounts/29664">@ankworld</a>
      </div>
    </mat-list-item>
  </mat-list>
</div>
