<footer class="dock-wrapper">
  <div class="dock">
    <div class="dock-icon">
      <button mat-button matTooltip="My Project">
        <img src="assets/images/folder-blue-git.svg" />
      </button>
    </div>
    <div class="dock-icon">
      <button mat-button matTooltip="My Bio">
        <img src="assets/images/folder-blue-image-people.svg" />
      </button>
    </div>
    <div class="dock-icon">
      <button mat-button matTooltip="My CV">
        <img src="assets/images/document-viewer.svg" />
      </button>
    </div>
    <div class="dock-icon">
      <button mat-button matTooltip="My Contact">
        <img src="assets/images/telegram.svg" />
      </button>
    </div>
    <div class="dock-icon">
      <button mat-button matTooltip="My PC">
        <img src="assets/images/distributor-logo-fedora.svg" />
      </button>
    </div>
  </div>
</footer>
