<mat-toolbar class="toolbar">
  <div id="banner">
    <p>Npworld</p>
  </div>
  <div id="clock">
    <p>{{ clock | date: 'medium' }}</p>
  </div>
  <div id="tray">
    <button mat-icon-button>
      <mat-icon>battery_std</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
    <ng-container *ngIf="fullscreenEnabled">
      <button mat-icon-button *ngIf="!isFullscreen">
        <mat-icon (click)="openFullscreen()">fullscreen</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isFullscreen">
        <mat-icon (click)="closeFullscreen()">close_fullscreen</mat-icon>
      </button>
    </ng-container>
    
  </div>
</mat-toolbar>
