// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$website-primary: mat.define-palette(mat.$indigo-palette);
$website-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$website-warn: mat.define-palette(mat.$red-palette);
$website-typography: mat.define-typography-config(
  $font-family: 'Inter'
);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$website-theme: mat.define-light-theme(
  (
    color: (
      primary: $website-primary,
      accent: $website-accent,
      warn: $website-warn
    ),
    typography: $website-typography
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($website-theme);

/* Fonts */

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./assets/fonts/Inter.ttf) format('truetype');
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: Inter, Roboto, 'Helvetica Neue', sans-serif;
}

.toolbar {
  height: 32px;
}

.spacer {
  flex: 1 1 auto;
}

#banner {
  flex-grow: 1;
  width: 33%;
  text-align: start;
  cursor: default;

  p {
    width: fit-content;
    padding: 0px 8px;
  }

  p:hover {
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 50px;
  }
}

#clock {
  flex-grow: 1;
  width: 33%;
  display: flex;
  justify-content: center;
  cursor: default;

  p {
    width: fit-content;
    padding: 0px 8px;
  }

  p:hover {
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 50px;
  }
}

#tray {
  flex-grow: 1;
  width: 33%;
  text-align: end;
}
