<main class="showcase" @fadeInOut >
  <div
    *ngFor="let control of controls"
    #resizeBox
    class="control-server"
    style="position: absolute"
    cdkDrag
    cdkDragBoundary=".showcase"
    [style.width.px]="control.width"
    [style.height.px]="control.height"
    (mousedown)="clickControl(control)"
  >
    <div class="apps" @scaleInOut>
      <div class="window-title" cdkDragHandle>
        <div class="title-text">My Contact</div>
        <div class="spacer"></div>
        <mat-icon (click)="addControl()">add</mat-icon>
        <mat-icon (click)="removeControl(control)">close</mat-icon>
      </div>

      <div class="content">
        <ng-scrollbar appearance="standard" track="all">
          <ng-template [dynamicComponent]="control.component"></ng-template>
        </ng-scrollbar>
      </div>
    </div>
    <span
      #dragHandleRB
      [cdkDragLockAxis]="lockAxis"
      class="dragHandle rb"
      cdkDrag
      (cdkDragMoved)="dragMove(dragHandleRB, $event, control)"
    ></span>
    <span
      #dragHandleBottom
      cdkDragLockAxis="y"
      class="dragHandle bottom"
      cdkDrag
      (cdkDragMoved)="dragMove(dragHandleBottom, $event, control)"
    ></span>
    <span
      #dragHandleRight
      cdkDragLockAxis="x"
      class="dragHandle right"
      cdkDrag
      (cdkDragMoved)="dragMove(dragHandleRight, $event, control)"
    ></span>
  </div>

  <div class="wip">Work in process</div>

  <footer class="dock-wrapper">
    <div class="dock">
      <div class="dock-icon">
        <button mat-button matTooltip="My Project">
          <img src="assets/images/folder-blue-git.svg" alt="My Project" />
        </button>
      </div>
      <div class="dock-icon">
        <button mat-button matTooltip="My Bio">
          <img src="assets/images/folder-blue-image-people.svg" alt="My Bio" />
        </button>
      </div>
      <div class="dock-icon">
        <button mat-button matTooltip="My CV">
          <img src="assets/images/document-viewer.svg" alt="My CV"/>
        </button>
      </div>
      <div class="dock-icon">
        <button mat-button matTooltip="My Contact" (click)="addControl()">
          <img src="assets/images/telegram.svg" alt="My Contact"/>
        </button>
      </div>
      <div class="dock-icon">
        <button mat-button matTooltip="My PC">
          <img src="assets/images/distributor-logo-fedora.svg" alt="My PC"/>
        </button>
      </div>
    </div>
  </footer>
</main>
