.showcase::before {
  content: "";
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  position: absolute;
  top: 32px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -999;
}

.showcase {
  height: 100%;
  z-index: 10;
}

.window-title {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  cursor: move;

  .title-text {
    cursor: default;
  }

  mat-icon {
    cursor: pointer;
  }
}

.content {
  width: 100%;
  height: calc(100% - 42px);
  padding-right: 0px;
  overflow-y: auto;
  position: relative;
  img {
    width: 150px;
    height: auto;
  }
}

.apps {
  cursor: default;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  min-height: fit-content;
  transition: 0.15s ease-in-out;
}

.control-server {
  min-width: 300px;
  min-height: 300px;
}

.dragHandle {
  position: absolute;
  background-color: transparent;
  top: 0;
}

.dragHandle.rb {
  width: 20px;
  height: 20px;
  cursor: nwse-resize;
}

.dragHandle.right {
  width: 4px;
  height: 100%;
  cursor: ew-resize;
}

.dragHandle.bottom {
  height: 4px;
  width: 100%;
  cursor: ns-resize;
}

.wip {
  font-size: 60px;
  z-index: 100000;
  position: absolute;
  right: 0;
  top: 56px;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: red;
  padding: 18px;
}

.dock-wrapper {
  display: flex;
  justify-content: center;
}

.dock {
  position: absolute;
  display: flex;
  bottom: 24px;
  height: 96px;
  padding: 16px;
  border-radius: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  z-index: 999999;
}

.dock-icon {
  width: 96px;
  img {
    width: 64px;
    max-width: 64px;
  }
  button {
    transition: 0.15s ease-in-out;
  }
}

.dock-icon:hover {
  button {
    transform: scale(1.25);
  }
}
